{
  "openapi": "3.0.1",
  "info": {
    "title": "Vocera AI API",
    "description": "Complete API documentation for Vocera AI Platform. This API provides endpoints for managing AI-powered conversations, call analytics, and quality monitoring features.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://new-prod.vocera.ai"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/enums/": {
      "get": {
        "tags": [
          "enums"
        ],
        "operationId": "enums_list",
        "description": "Retrieve a list of all available enumeration values used throughout the API",
        "responses": {
          "200": {
            "description": "Successfully retrieved list of enumeration values",
            "content": {}
          }
        }
      }
    },
    "/observability/call_log/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_list",
        "description": "Retrieve a paginated list of call logs with detailed filtering options",
        "parameters": [
          {
            "name": "call_ended_reason__in",
            "in": "query",
            "description": "Filter calls by one or more end reasons (comma-separated). Example: 'HANGUP,TRANSFER'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_ended_reason__icontains",
            "in": "query",
            "description": "Filter calls where end reason contains the specified text (case-insensitive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__gte",
            "in": "query",
            "description": "Filter calls after or equal to this timestamp (ISO 8601 format)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__lte",
            "in": "query",
            "description": "Filter calls before or equal to this timestamp (ISO 8601 format)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration__gte",
            "in": "query",
            "description": "Filter calls with duration greater than or equal to specified seconds",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration__lte",
            "in": "query",
            "description": "Filter calls with duration less than or equal to specified seconds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved paginated list of call logs",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Total number of call logs matching the filter criteria"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "description": "URL to fetch the next page of results, null if this is the last page"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true,
                      "description": "URL to fetch the previous page of results, null if this is the first page"
                    },
                    "results": {
                      "type": "array",
                      "description": "List of call log entries for the current page",
                      "items": {
                        "$ref": "#/components/schemas/CallLogList"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_create",
        "description": "Create a new call log entry with detailed information about a conversation",
        "requestBody": {
          "description": "Call log details to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallLogDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Call log entry successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data provided"
          },
          "401": {
            "description": "Authentication credentials were not provided or are invalid"
          }
        }
      }
    },
    "/observability/call_log/create_scenarios/": {
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_create_scenarios",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallLogDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/observability/call_log/delete_call_logs/": {
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_delete_call_logs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallLogDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/observability/call_log/evaluate_metrics/": {
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_evaluate_metrics",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallLogDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/observability/call_log/filters/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_filters",
        "parameters": [
          {
            "name": "call_ended_reason__in",
            "in": "query",
            "description": "call_ended_reason__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_ended_reason__icontains",
            "in": "query",
            "description": "call_ended_reason__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id__in",
            "in": "query",
            "description": "id__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__gte",
            "in": "query",
            "description": "timestamp__gte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__lte",
            "in": "query",
            "description": "timestamp__lte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration__gte",
            "in": "query",
            "description": "duration__gte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration__lte",
            "in": "query",
            "description": "duration__lte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_number__in",
            "in": "query",
            "description": "customer_number__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_number__icontains",
            "in": "query",
            "description": "customer_number__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_id__in",
            "in": "query",
            "description": "call_id__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_id__icontains",
            "in": "query",
            "description": "call_id__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "success",
            "in": "query",
            "description": "success",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "metrics",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp_range",
            "in": "query",
            "description": "timestamp_range",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_ended_reason_not_equals",
            "in": "query",
            "description": "call_ended_reason_not_equals",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CallLogDetail"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/observability/call_log/filters_call_id/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_filters_call_id",
        "parameters": [
          {
            "name": "call_ended_reason__in",
            "in": "query",
            "description": "call_ended_reason__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_ended_reason__icontains",
            "in": "query",
            "description": "call_ended_reason__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id__in",
            "in": "query",
            "description": "id__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__gte",
            "in": "query",
            "description": "timestamp__gte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__lte",
            "in": "query",
            "description": "timestamp__lte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration__gte",
            "in": "query",
            "description": "duration__gte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration__lte",
            "in": "query",
            "description": "duration__lte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_number__in",
            "in": "query",
            "description": "customer_number__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_number__icontains",
            "in": "query",
            "description": "customer_number__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_id__in",
            "in": "query",
            "description": "call_id__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_id__icontains",
            "in": "query",
            "description": "call_id__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "success",
            "in": "query",
            "description": "success",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "metrics",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp_range",
            "in": "query",
            "description": "timestamp_range",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_ended_reason_not_equals",
            "in": "query",
            "description": "call_ended_reason_not_equals",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CallLogDetail"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/observability/call_log/filters_customer_number/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_filters_customer_number",
        "parameters": [
          {
            "name": "call_ended_reason__in",
            "in": "query",
            "description": "call_ended_reason__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_ended_reason__icontains",
            "in": "query",
            "description": "call_ended_reason__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id__in",
            "in": "query",
            "description": "id__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__gte",
            "in": "query",
            "description": "timestamp__gte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__lte",
            "in": "query",
            "description": "timestamp__lte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration__gte",
            "in": "query",
            "description": "duration__gte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration__lte",
            "in": "query",
            "description": "duration__lte",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_number__in",
            "in": "query",
            "description": "customer_number__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_number__icontains",
            "in": "query",
            "description": "customer_number__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_id__in",
            "in": "query",
            "description": "call_id__in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_id__icontains",
            "in": "query",
            "description": "call_id__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "success",
            "in": "query",
            "description": "success",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "metrics",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp_range",
            "in": "query",
            "description": "timestamp_range",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_ended_reason_not_equals",
            "in": "query",
            "description": "call_ended_reason_not_equals",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CallLogDetail"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/observability/call_log/rerun_evaluation/": {
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_rerun_evaluation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallLogDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/observability/call_log/{id}/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallLogDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallLogDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/observability/call_log/{id}/create_scenario/": {
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_create_scenario",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallLogDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/observability/call_log/{id}/mark_critical_scenario_wrong/": {
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_call_log_mark_critical_scenario_wrong",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallLogDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/observability/overall_evaluation/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_overall_evaluation_list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OverallEvaluation"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_overall_evaluation_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OverallEvaluation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverallEvaluation"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/observability/overall_evaluation/generate_overall_summary/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_overall_evaluation_generate_overall_summary",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OverallEvaluation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/observability/overall_evaluation/realtime/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_overall_evaluation_realtime",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OverallEvaluation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/observability/overall_evaluation/{id}/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_overall_evaluation_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverallEvaluation"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_overall_evaluation_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OverallEvaluation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverallEvaluation"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_overall_evaluation_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_overall_evaluation_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OverallEvaluation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverallEvaluation"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/observability/v1/call-logs-external/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_v1_call-logs-external_list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallLogDetail"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/observability/v1/call-logs-external/rerun_evaluation/": {
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_v1_call-logs-external_rerun_evaluation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallLogDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/observability/v1/call-logs-external/{id}/": {
      "get": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_v1_call-logs-external_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallLogDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_v1_call-logs-external_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/observability/v1/observe/": {
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_v1_observe_create",
        "description": "Submit a call recording and transcript for observation and analysis",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "call_id",
                  "transcript_json"
                ],
                "properties": {
                  "call_id": {
                    "type": "string",
                    "description": "Unique identifier for the call"
                  },
                  "agent": {
                    "type": "string",
                    "description": "The agent ID as shown on your dashboard. Either agent or assistant_id must be provided"
                  },
                  "assistant_id": {
                    "type": "string",
                    "description": "The assistant ID associated with agent. Either agent or assistant_id must be provided"
                  },
                  "voice_recording": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file of the call recording. Either voice_recording or voice_recording_url must be provided"
                  },
                  "voice_recording_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to the call recording audio file. Either voice_recording or voice_recording_url must be provided"
                  },
                  "call_ended_reason": {
                    "type": "string",
                    "description": "Optional reason for call termination"
                  },
                  "customer_number": {
                    "type": "string",
                    "description": "Optional phone number of the customer"
                  },
                  "transcript_json": {
                    "type": "array",
                    "description": "JSON object containing the transcript of the call. Can be in Vocera, Vapi, Retell or Deepgram format",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call observation submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/observability/v1/retell/observe/": {
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_v1_retell_observe_create",
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/observability/v1/vapi/observe/": {
      "post": {
        "tags": [
          "observability"
        ],
        "operationId": "observability_v1_vapi_observe_create",
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/schedules/cron-jobs/": {
      "get": {
        "tags": [
          "schedules"
        ],
        "operationId": "schedules_cron-jobs_list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CronJob"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "schedules"
        ],
        "operationId": "schedules_cron-jobs_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CronJob"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJob"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/schedules/cron-jobs/disable_alerts/": {
      "post": {
        "tags": [
          "schedules"
        ],
        "operationId": "schedules_cron-jobs_disable_alerts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CronJob"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJob"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/schedules/cron-jobs/enable_alerts/": {
      "post": {
        "tags": [
          "schedules"
        ],
        "operationId": "schedules_cron-jobs_enable_alerts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CronJob"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJob"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/schedules/cron-jobs/{id}/": {
      "get": {
        "tags": [
          "schedules"
        ],
        "operationId": "schedules_cron-jobs_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJob"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "schedules"
        ],
        "operationId": "schedules_cron-jobs_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CronJob"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJob"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "schedules"
        ],
        "operationId": "schedules_cron-jobs_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "schedules"
        ],
        "operationId": "schedules_cron-jobs_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CronJob"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJob"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/slack/interact/": {
      "post": {
        "tags": [
          "slack"
        ],
        "description": "Handle Slack interactive component callbacks",
        "operationId": "slack_interact_create",
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/slack/oauth/": {
      "post": {
        "tags": [
          "slack"
        ],
        "operationId": "slack_oauth_create",
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/slack/slack-workspaces/": {
      "get": {
        "tags": [
          "slack"
        ],
        "operationId": "slack_slack-workspaces_list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SlackWorkspace"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "slack"
        ],
        "operationId": "slack_slack-workspaces_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackWorkspace"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackWorkspace"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/slack/slack-workspaces/{id}/": {
      "get": {
        "tags": [
          "slack"
        ],
        "operationId": "slack_slack-workspaces_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackWorkspace"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "slack"
        ],
        "operationId": "slack_slack-workspaces_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackWorkspace"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackWorkspace"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "slack"
        ],
        "operationId": "slack_slack-workspaces_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "slack"
        ],
        "operationId": "slack_slack-workspaces_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackWorkspace"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackWorkspace"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/aiagents/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_aiagents_list",
        "responses": {
          "200": {
            "description": "",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_aiagents_create",
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/aiagents/{id}/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_aiagents_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_aiagents_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_aiagents_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_aiagents_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/aiagents/{id}/copy/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_aiagents_copy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/aiagents/{id}/disable_personalities/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_aiagents_disable_personalities",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/aiagents/{id}/enable_personalities/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_aiagents_enable_personalities",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/aiagents/{id}/personalities/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_aiagents_personalities",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/billing/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_billing_list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Billing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/test_framework/billing/runs/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_billing_get_billing_runs",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Billing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/test_framework/critical-scenarios/{id}/": {
      "put": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_critical-scenarios_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriticalMetricScenario"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriticalMetricScenario"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "patch": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_critical-scenarios_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriticalMetricScenario"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriticalMetricScenario"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/generate_scenarios/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_generate_scenarios_create",
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/metric-reviews/delete_reviews/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metric-reviews_delete_reviews",
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/metric-reviews/{id}/": {
      "delete": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metric-reviews_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/metrics/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MetricList"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricEdit"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/metrics/bulk_create/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_bulk_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/metrics/delete_metrics/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_delete_metrics",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/metrics/generate_metrics/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_generate_metrics",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/metrics/{id}/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDetail"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricEdit"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricEdit"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/metrics/{id}/add_to_predefined_metrics/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_add_to_predefined_metrics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/metrics/{id}/run_reviews/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_metrics_run_reviews",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/personalities/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_personalities_list",
        "responses": {
          "200": {
            "description": "",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_personalities_create",
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/personalities/{id}/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_personalities_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_personalities_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_personalities_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_personalities_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/phone_number/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_phone_number_list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/test_framework/phone_number/inbound/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_phone_number_inbound",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/test_framework/phone_number/{id}/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_phone_number_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_phone_number_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_phone_number_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_phone_number_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/predefined-metrics/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_predefined-metrics_list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PredefinedMetric"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_predefined-metrics_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredefinedMetric"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredefinedMetric"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/predefined-metrics/copy/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_predefined-metrics_copy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredefinedMetric"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredefinedMetric"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/predefined-metrics/{id}/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_predefined-metrics_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this predefined metric.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredefinedMetric"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_predefined-metrics_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this predefined metric.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredefinedMetric"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredefinedMetric"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_predefined-metrics_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this predefined metric.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_predefined-metrics_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this predefined metric.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredefinedMetric"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredefinedMetric"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/process-message-response/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_process-message-response_create",
        "responses": {
          "201": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/test_framework/results/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_results_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ResultList"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_results_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/results/{id}/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_results_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDetail"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_results_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_results_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_results_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/results/{id}/evaluate_metrics/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_results_evaluate_metrics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/results/{id}/rerun/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_results_rerun",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/results/{id}/rerun_text/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_results_rerun_text",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultDetail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDetail"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/runs/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_runs_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RunList"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_runs_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Run"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/runs/{id}/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_runs_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_runs_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Run"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "delete": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_runs_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_runs_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Run"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/runs/{id}/end_call/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_runs_end_call",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Run"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/runs/{id}/get_listen_url/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_runs_get_listen_url",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          }
        }
      }
    },
    "/test_framework/runs/{id}/mark_critical_scenario_wrong/": {
      "post": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_runs_mark_critical_scenario_wrong",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Run"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/test_framework/scenarios/": {
      "get": {
        "tags": [
          "test_framework"
        ],
        "operationId": "test_framework_scenarios_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
[...]
