#navbar img {
  height: 36px; /* e.g., 50px */
}

.dark #sidebar-group img {
  background-color: transparent !important;
}

#content-container::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;

  background-repeat: no-repeat;
  background-image: url("/images/bg-dark.png");
}
