#navbar img {
  height: 36px; /* e.g., 50px */
}

.dark #sidebar-group img {
  background-color: transparent !important;
}

#content-container::before {
  content: "";
  position: fixed;
  top: -190px;
  right: 0;
  width: 40%;
  height: 124%;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-image: url("/images/bg-dark.png");
}
